[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

termcolor = "*"
colorama = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
sphinxcontrib-napoleon = "*"
nose = "*"
invoke = "*"
bands = "*"


[packages]

scandir = "*"
pyyaml = "*"
fstrings = "*"
click = "*"
scrim = "*"
termcolor = "*"
colorama = "*"
six = "*"
bands = "*"
