[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

scandir = "*"
PyYAML = "*"
nose = "*"
fstrings = "*"
click = "*"
scrim = "*"
Sphinx = "*"
sphinx_rtd_theme = "*"
sphinxcontrib-napoleon = "*"
fire = "*"
termcolor = "*"
colorama = "*"
six = "*"
